version: '3.8'

services:
  vtv-redis:  
    image: redis/redis-stack:latest 
    container_name: vtv_redis_container
    ports:
      - "6379:6379"  
      - "8001:8001" 
    environment:
      - REDIS_ARGS=--save 60 1 --loglevel warning 
    restart: always  
    volumes:
      - redis_data:/data 
  
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data: